body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 60%;
}

h1 > span {
  color: midnightblue;
}

.card > img {
  height: 200px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.card {
  float: left;
  width: 50%;
}
.card-title {
  margin-right: 20px;
}

.card-text {
  margin-right: 20px;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* Media Query */

 @media (max-width: 1318px){
  h1 {
    width: 84%;
  }
}

@media (max-width: 970px){
  h1 {
    width: 100%;
  }
}

@media (max-width: 831px){
  h1 {
    width: 89%;
  }
} 

@media (max-width: 790px) {
  .logo {
    width: 100px;
  }

  h1{
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }

  .card {
    display: block;
    width: 100%;
    text-align: justify;
  }

  .card > img {
    /* height: 300px; */
    width: 100%;
    object-fit: cover;
    /* float: none; */
    margin-bottom: 10px;
    display: inline;
  }
}